fastapi==0.115.6
uvicorn[standard]==0.32.1
python-dotenv==1.0.1
pydantic==2.11.5
colorlog==6.9.0
watchdog==5.0.3
sse-starlette==2.2.1
itsdangerous==2.2.0
Pillow==11.0.0
httpx==0.28.1
git+https://github.com/oMaN-Rod/palworld-save-tools.git@main
